:root {
  --color-primary-shade: #0b485b;
  --color-primary: #19c1ce;
  --color-primary-shade5: #07e5eb;
  --color-highlight: #f2bf4e;
  --color-highlight2: #f4ca6d;
  --color-black: #000000;
  --color-gray-100: #212429;
  --color-gray-70: #7e8a98;
  --color-gray-60: #97a1ac;
  --color-gray-30: #cfd3d8;
  --color-gray-10: #f1f3f5;
  --color-white: #ffffff;
}
