header {
  border-bottom: 1px solid var(--color-gray-30);
  position: fixed;
  height: 80px;
  width: 100%;
  background: var(--color-white);
  z-index: 100;
}

.logo-header-container {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 32px;
  display: block;
}

.logo-icon {
  display: none;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu {
  width: auto;
  display: flex;
  margin-left: 8%;
  align-items: center;
  justify-content: flex-end;
  transition: all 2s;
}

.menu ul {
  width: 100%;
  padding: 0;
}

.menu ul li {
  list-style: none;
  font-weight: 700;
  margin: 0 8px;
}

.menu ul li a {
  color: var(--color-black);
  transition: color 0.3s;
}

.menu ul li a:hover {
  color: var(--color-primary);
}

.menu .dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .dropdown img {
  margin-left: 8px;
}

.menu .dropdown .submenu-container {
  visibility: hidden;
  opacity: 0;
  display: flex;
  position: absolute;
  background: var(--color-white);
  padding: 24px;
  justify-content: center;
  top: 85px;
  transition: opacity 0.3s;
}

.submenu-container div:not(:last-child) {
  margin-right: 24px;
}

.menu .dropdown .submenu-container img {
  display: none;
}

.submenu-container .submenu-title {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-primary);
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-gray-30);
}

.submenu-container ul li {
  margin: 16px 0 0 0;
}

#bt-menu {
  display: none;
}

label[for="bt-menu"] {
  cursor: pointer;
  display: none;
}

.menu-buttons-container {
  display: flex;
  margin-left: 16px;
}

.menu-buttons-container .button-container {
  margin-left: 16px;
}

footer {
  background: var(--color-primary);
  padding: 16px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid var(--color-primary-shade5);
}

.footer-container p {
  align-self: flex-end;
  padding: 24px 0;
  margin: 0;
}

.footer-social-list a img {
  height: 32px;
}

.footer-container p span {
  font-weight: 700;
}

.footer-container p a {
  color: var(--color-gray-100);
  text-decoration: underline;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
  background-color: var(--color-gray-10);
}

.hero-section::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--color-gray-10);
  position: absolute;
  z-index: -2;
  clip-path: polygon(0 0, 50% 0, 100% 50%, 100% 100%, 0 100%);
}

.hero-section .container {
  display: grid;
  gap: 24px;
  grid-template-areas:
    "hero form"
    "hero form"
    "details form";
}

.hero-section-info {
  grid-area: hero;
}

.hero-section-info h1 {
  margin: 40px 0;
}

.hero-section-info h1 span {
  color: var(--color-primary);
}

.hero-section-details {
  grid-area: details;
  color: var(--color-white);
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-section-details h3,
.hero-section-details p,
.hero-section-form,
.hero-section-info {
  z-index: 1;
}

.hero-section-details::after {
  content: "";
  background: var(--color-primary-shade);
  position: absolute;
  width: 100%;
  height: 15rem;
  left: 0;
  z-index: 0;
}

.hero-section::before {
  content: "";
  width: 100%;
  height: 400px;
  background: var(--color-white);
  position: absolute;
  left: 0;
  top: 0;
  clip-path: polygon(100% 0, 18% 0, 100% 43%);
}

.hero-section-form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}

.hero-section-form h4 {
  text-align: center;
  width: 90%;
}

.hero-section-form p {
  text-align: center;
}

.hero-section-form p {
  color: var(--color-gray-70);
}

.hero-section-form-terms {
  padding-left: 20px;
}

.hero-section-form-terms li {
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: var(--color-gray-70);
}

.hero-section-form-terms li a {
  color: var(--color-primary);
  text-decoration: underline;
}

.radio-container {
  display: flex;
  align-items: center;
}

.radio-container input {
  display: none;
}

.radio-container label {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid var(--color-gray-30);
  margin: 0 16px 0 0;
  cursor: pointer;
  transition: all 0.3s;
}

.radio-container label:hover,
input[name="url"]:checked + label {
  border-color: var(--color-primary);
  box-shadow: inset 0px 0px 0px 4px var(--color-primary);
  background-color: var(--color-black);
}

.radio-container span {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-black);
}

#feedback-submit-container {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#feedback-submit-container h3 {
  text-align: center;
}

.results-section {
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.5rem;
}

.results-section::after {
  content: "";
  width: 100%;
  height: 52rem;
  background: var(--color-gray-10);
  position: absolute;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 50%);
}

.results-section .container {
  display: flex;
  gap: 5%;
  justify-content: space-between;
  align-items: center;
}

.results-section .container img {
  clip-path: polygon(0 0, 69% 0, 100% 22%, 100% 100%, 0 100%);
  width: 25rem;
  height: auto;
}

.results-section-list ul {
  padding-left: 30px;
}

.results-section-list ul li {
  list-style-image: url(../assets/icons/check.svg);
  margin-bottom: 24px;
}

.results-section-list ul li span {
  font-weight: 700;
}

.results-section-list ul li a {
  color: var(--color-primary);
  text-decoration: underline;
}

.cards-section h2 {
  width: 50%;
}

.cards-section-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 64px;
}

.cards-section-icon-container {
  background: var(--color-gray-10);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-section-button {
  visibility: hidden;
}

.section-create-account {
  margin: 120px auto;
}

input[name="cards-slider"] {
  visibility: hidden;
}

.cards-section-button label {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-gray-30);
  cursor: pointer;
  transition: all 0.3s;
}

.cards-section-button label:hover,
input[name="cards-slider"]:checked + label {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.section-create-account-background {
  background: url(../assets/background.svg) no-repeat center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  padding: 40px 0;
}

.section-create-account h2 {
  width: 60%;
}

.section-create-account p {
  width: 70%;
  margin-bottom: 40px;
}

.video-section {
  background: var(--color-gray-10);
  padding: 18px 0;
}

.video-section .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.video-section .container div .button-container {
  margin-top: 40px;
  width: 90%;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container img {
  width: 100%;
}

.video-container button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}

.video-container button img {
  width: 70%;
}

.section-logos .section-logos-info-container {
  grid-area: info;
}

.section-logos .section-logos-list {
  grid-area: logos;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.section-logos .section-logos-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-logos .section-logos-list div img {
  width: 40px;
}

.section-logos .section-logos-list div p {
  text-align: center;
}

.section-logos .section-logos-button {
  display: flex;
  grid-area: button;
}

.section-logos {
  margin: 120px auto;
  display: grid;
  column-gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "info logos"
    "button button";
}

.modal {
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  position: relative;
  background-color: transparent;
  margin: auto;
  width: 80%;
  height: 100%;
  padding: 0;
  animation: modalTransition 0.4s;
}

.modal-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-video-container {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.modal-video-container iframe,
.modal-video-container object,
.modal-video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes modalTransition {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
