@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  header {
    height: auto;
    padding: 0;
  }

  header .container {
    flex-direction: column;
    padding: 0;
  }

  .logo-header-container {
    width: 100%;
    align-items: center;
    padding: 24px 0 16px 0;
    background-color: white;
    z-index: 101;
  }

  .logo-header-container img,
  .logo-header-container div {
    margin: 0 16px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    margin: 0;
    border-top: 1px solid var(--color-gray-30);
    transition: max-height 0.3s ease-in;
    z-index: 100;
    background-color: white;
  }

  .menu ul {
    padding: 0 16px;
    width: 95%;
  }

  .menu ul li {
    margin: 0;
  }

  .menu-list {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
  }

  .menu-list li {
    width: 100%;
    padding: 16px 0;
  }

  .menu-list li:not(:last-child) {
    border-bottom: 1px solid var(--color-gray-30);
  }

  .menu-buttons-container {
    display: none;
    width: 100%;
    justify-content: space-evenly;
    padding: 24px 0;
    margin: 0;
    background-color: var(--color-gray-10);
    border-top: 1px solid var(--color-gray-30);
  }

  label[for="bt-menu"] {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #close-menu-icon {
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s;
  }

  #menu-icon {
    opacity: 1;
    transition: opacity 0.3s;
  }

  .footer-social {
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0;
  }

  .footer-social .logo {
    padding: 24px 0;
  }

  .footer-social-list {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--color-primary-shade5);
    padding: 24px 0;
  }

  .footer-container p {
    align-self: center;
    padding: 0 0 24px 0;
  }

  .hero-section {
    padding: 80px 0 40px 0;
  }

  .hero-section .container {
    display: grid;
    grid-template-areas:
      "hero"
      "form"
      "details";
  }

  .hero-section-form {
    margin-left: 0;
  }

  .results-section {
    align-items: start;
    margin-top: -5px;
  }

  .results-section .container {
    gap: 0;
  }

  .results-section::after {
    height: 140%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 60%);
  }

  .results-section .container {
    flex-direction: column-reverse;
  }

  .card {
    padding: 16px;
  }

  .cards-section {
    overflow-x: hidden;
  }

  .cards-section h2 {
    width: 100%;
  }

  .cards-section-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 64px;
    justify-content: space-between;
    align-items: center;
    width: 620%;
    height: 500px;
  }

  .cards-section-container .card {
    height: 378px;
    width: 100%;
  }

  .cards-section-icon-container {
    width: 48px;
    height: 48px;
  }

  .section-create-account h2 {
    width: 75%;
  }

  .section-create-account p {
    width: 100%;
    margin-bottom: 40px;
  }

  .video-section .container {
    flex-direction: column;
  }

  .video-container {
    margin: 0;
  }

  .video-container img {
    width: 100%;
  }

  .video-container button img {
    width: 50%;
  }

  .section-logos {
    row-gap: 24px;
    grid-template-areas:
      "info info"
      "logos logos"
      "button button";
  }

  .section-logos .section-logos-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-logos .section-logos-button {
    justify-content: center;
  }
}
