:root {
  --color-primary-shade: #0b485b;
  --color-primary: #19c1ce;
  --color-primary-shade5: #07e5eb;
  --color-highlight: #f2bf4e;
  --color-highlight2: #f4ca6d;
  --color-black: #000000;
  --color-gray-100: #212429;
  --color-gray-70: #7e8a98;
  --color-gray-60: #97a1ac;
  --color-gray-30: #cfd3d8;
  --color-gray-10: #f1f3f5;
  --color-white: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-gray-100);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

label {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
}

input,
select {
  background: var(--color-white);
  border: 2px solid var(--color-black);
  padding: 10px 12px;

  box-sizing: border-box;
  box-shadow: inset 6px 6px 0px var(--color-gray-10);

  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

input[type="radio"] {
  box-shadow: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("assets/icons/arrow_select.svg") white no-repeat
    calc(100% - 12px) !important;
}

select option {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

select:invalid {
  color: var(--color-gray-70);
}

::placeholder {
  color: var(--color-gray-70);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-container span {
  display: block;
  opacity: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: red;
  padding: 4px 0;
}

.input-container .radio-container {
  margin: 16px 0;
}

.input-container .radio-container label {
  margin-left: 12px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.input-password-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input-password-container input {
  width: 100%;
  padding-right: 40px;
}

.input-password-container img {
  position: absolute;
  cursor: pointer;
  padding: 12px;
}

.container {
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.card {
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
  padding: 24px;
  background: var(--color-white);
}

.divider {
  width: 100%;
  border-top: 1px solid var(--color-gray-30);
  margin: 24px 0;
}

/* BUTTON STYLE */

.button-container button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: var(--color-primary);
  transition: background 0.3s;
}

.button-container .button-icon {
  justify-content: space-between;
}

.button-container button:hover {
  background: var(--color-primary-shade5);
}

.button-container button img {
  margin-left: 8px;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button-container::after {
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 4px solid var(--color-gray-100);
}

.button-highlight {
  background: var(--color-highlight) !important;
}

.button-highlight:hover {
  background: var(--color-highlight2) !important;
}

.button-secondary {
  box-shadow: 0px 0px 0px 3px black inset;
  background: transparent !important;
}

.button-secondary:hover {
  background: var(--color-gray-30) !important;
}

/* TEXT STYLES */

.heading-lg {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
}

.heading-md {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
}

.heading-sm {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 110%;
}

.heading-xs {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 110%;
}

.subtitle-sm {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.subtitle-xs {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.body-lg {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.body-md {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.body-sm {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0;
  }

  .heading-lg {
    font-size: 56px;
  }

  .heading-md {
    font-size: 40px;
  }

  .heading-sm {
    font-size: 32px;
  }

  .heading-xs {
    font-size: 24px;
  }

  .subtitle-sm {
    font-size: 20px;
  }

  .body-sm {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
