:root {
  --color-primary-shade: #0b485b;
  --color-primary: #19c1ce;
  --color-primary-shade5: #07e5eb;
  --color-highlight: #f2bf4e;
  --color-highlight2: #f4ca6d;
  --color-black: #000000;
  --color-gray-100: #212429;
  --color-gray-70: #7e8a98;
  --color-gray-60: #97a1ac;
  --color-gray-30: #cfd3d8;
  --color-gray-10: #f1f3f5;
  --color-white: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-gray-100);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 0 24px !important;
  box-sizing: border-box;
}

/* BUTTON STYLE */

.button-container button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  display: flex;
  text-transform: uppercase;
  background: var(--color-primary);
  transition: background 0.3s;
}

.button-container button:hover {
  background: var(--color-primary-shade5);
}

.button-container button img {
  margin-left: 8px;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button-container::after {
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 4px solid var(--color-gray-100);
}

.button-highlight {
  background: var(--color-highlight) !important;
}

.button-highlight:hover {
  background: var(--color-highlight2) !important;
}

.button-secondary {
  box-shadow: 0px 0px 0px 3px black inset;
  background: var(--color-white) !important;
}

.button-secondary:hover {
  background: var(--color-gray-30) !important;
}

/* TEXT STYLES */

.heading-lg {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
}

.heading-md {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
}

.heading-sm {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 110%;
}

.heading-xs {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 110%;
}

.subtitle-sm {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.subtitle-xs {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.body-lg {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.body-md {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.body-sm {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .heading-lg {
    font-size: 56px;
  }

  .heading-md {
    font-size: 40px;
  }

  .heading-sm {
    font-size: 32px;
  }

  .heading-xs {
    font-size: 24px;
  }

  .subtitle-sm {
    font-size: 20px;
  }

  .body-sm {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
