header {
  border-bottom: 1px solid var(--color-gray-30);
  position: fixed;
  height: 80px;
  width: 100%;
  background: var(--color-white);
  z-index: 100;
}

.logo {
  height: 32px;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu {
  width: 100%;
  display: flex;
  margin-left: 8%;
  align-items: center;
  justify-content: flex-end;
}

.menu ul {
  width: 100%;
  padding: 0;
}

.menu ul li {
  list-style: none;
  font-weight: 700;
  transition: color 0.3s;
}

.menu ul li:hover {
  list-style: none;
  font-weight: 700;
  color: var(--color-primary);
  cursor: pointer;
}

.menu-burger {
  display: none;
  cursor: pointer;
}

.menu-buttons-container {
  display: flex;
  margin-left: 16px;
}

.menu-buttons-container .button-container {
  margin-left: 16px;
}

footer {
  background: var(--color-primary);
  padding: 16px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid var(--color-primary-shade5);
}

.footer-container p {
  align-self: flex-end;
  padding: 24px 0;
  margin: 0;
}

.footer-social-list a img {
  height: 32px;
}

.footer-container p span {
  font-weight: 700;
}

.footer-container p a {
  color: var(--color-gray-100);
  border-bottom: 1px solid var(--color-gray-100);
}

.section-create-account {
  margin: 120px auto;
}

.section-create-account-background {
  background: url(/assets/background.svg) no-repeat center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  padding: 40px 0;
}

.section-create-account h2 {
  width: 60%;
}

.section-create-account p {
  width: 70%;
  margin-bottom: 40px;
}

.video-section {
  background: var(--color-gray-10);
  padding: 18px 0;
}

.video-section .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.video-section .container div .button-container {
  margin-top: 40px;
  width: 90%;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.video-container button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}

.video-container button img {
  width: 70%;
}

.section-logos .section-logos-info-container {
  grid-area: info;
}

.section-logos .section-logos-list {
  grid-area: logos;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.section-logos .section-logos-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-logos .section-logos-list div img {
  width: 40px;
}

.section-logos .section-logos-list div p {
  text-align: center;
}

.section-logos .section-logos-button {
  display: flex;
  grid-area: button;
}

.section-logos {
  margin: 120px auto;
  display: grid;
  column-gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "info logos"
    "button button";
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-burger {
    display: inline;
  }

  .footer-social {
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0;
  }

  .footer-social .logo {
    padding: 24px 0;
  }

  .footer-social-list {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--color-primary-shade5);
    padding: 24px 0;
  }

  .footer-container p {
    align-self: center;
    padding: 0 0 24px 0;
  }

  .section-create-account h2 {
    width: 75%;
  }

  .section-create-account p {
    width: 100%;
    margin-bottom: 40px;
  }

  .video-section .container {
    flex-direction: column;
  }

  .video-container {
    margin: 0;
  }

  .video-container img {
    width: 100%;
  }

  .video-container button img {
    width: 50%;
  }

  .section-logos {
    row-gap: 24px;
    grid-template-areas:
      "info info"
      "logos logos"
      "button button";
  }

  .section-logos .section-logos-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-logos .section-logos-button {
    justify-content: center;
  }
}
