header {
  border-bottom: 1px solid var(--color-gray-30);
  position: fixed;
  height: 80px;
  width: 100%;
  background: var(--color-white);
}

.logo {
  height: 32px;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu {
  width: 100%;
  display: flex;
  margin-left: 8%;
  align-items: center;
  justify-content: flex-end;
}

.menu ul {
  width: 100%;
  padding: 0;
}

.menu ul li {
  list-style: none;
  font-weight: 700;
  transition: color 0.3s;
}

.menu ul li:hover {
  list-style: none;
  font-weight: 700;
  color: var(--color-primary);
  cursor: pointer;
}

.menu-burger {
  display: none;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  margin-left: 16px;
}

footer {
  background: var(--color-primary);
  padding: 16px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid var(--color-primary-shade5);
}

.footer-container p {
  align-self: flex-end;
  padding: 24px 0;
  margin: 0;
}

.footer-social-list a img {
  height: 32px;
}

.footer-container p span {
  font-weight: 700;
}

.footer-container p a {
  color: var(--color-gray-100);
  border-bottom: 1px solid var(--color-gray-100);
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-burger {
    display: inline;
  }

  .footer-social {
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0;
  }

  .footer-social .logo {
    padding: 24px 0;
  }

  .footer-social-list {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--color-primary-shade5);
    padding: 24px 0;
  }

  .footer-container p {
    align-self: center;
    padding: 0 0 24px 0;
  }
}
